@color: #efb6ff;
@color-dark: darken(@color, 10%);
@color-darker: darken(@color, 20%);
@color-darkest: darken(@color, 30%);
@color-light: lighten(@color, 10%);
@color-lighter: lighten(@color, 20%);
@color-lightest: lighten(@color, 30%);

@background: #fff5;

@white: #fff;
@black: #000;